@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    background-color: rgb(107, 165, 241);
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

div#foto img {
    border-radius: 50%;
    width: 250px;
    aspect-ratio: 1/1;
    overflow: hidden;
    object-fit: cover;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

div#msg {
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}